<% layout("/layouts/boilerplate") %>
<body>
    <h3>Create a New Listing</h3>
    <form action="/listings" method="post">
        <input type="text" name="listing[title]" id="" placeholder="enter title">
        <br><br>
        <textarea name="listing[description]" id="" placeholder="enter description"></textarea>
        <br><br>
        <input name="listing[image]" id="" placeholder="enter image URL/Link">
        <br><br>
        <input type="number" name="listing[price]" id="" placeholder="enter price">
        <br><br>
        <input type="text" name="listing[location]" id="" placeholder="enter location">
        <br><br>
        <input type="text" name="listing[country]" id="" placeholder="enter country">
        <br><br>
        <button>Add</button>
    </form>
</body>